
body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  place-items: flex-start;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(62px, auto) 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
    background-color: lightgray;
}

.l-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: header;
  width: 100%;
  padding: var(--size-fluid-1);
  
}

.l-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: main;
  width: 100%;
  padding: var(--size-fluid-2);

}

.l-footer {
  display: flex;
  flex-direction: column;
  grid-area: footer;
  width: 100%;
  padding: var(--size-fluid-1);
  margin-top: 50px;
}

.allcharacters {
  display: flex;
  justify-content: center;
  gap: 4rem;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
  
}



.doc-introduction {
  display: flex;
  justify-content: center;

}

.l-container {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  background-size: cover;
  
}

.details-image {
  width: 300px;
  height: 300px;
  border-radius: 10%;
  background-size: cover;
}
.nav {
  padding: 20px;
  text-decoration: underline;
  color: black;
}
